/* CUSTOM PROPS */
:root {
  --accent-color: #7297ef;
  --heading-color: #000;
  --text-color: #4a4b4c;
}

/* FONT-FACE */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}

/* SITE-BUTTONS */
.button {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  color: #fff;
  border: 0;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  background-color: #7296ec;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--orange {
  border: 0;
  font-size: 20px;
  background-color: #f78b3b;
}

.button--large {
  padding: 15px 40px;
  font-size: 24px;
  background-color: #f78b3b;
}


/* SITE-LOGO */
.logo {
  display: flex;
  padding: 9px 6px;
  border-radius: 7px;
  background-color: #fff;
}

.logo__img {
  width: 264px;
  height: 28px;
  object-fit: contain;
}

/* CURRENT EXCHANGE RATE */
.exchange {
  display: flex;
  align-items: center;
}

.exchange__value {
  color: #555;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.exchange__value:not(:last-child) {
  margin-right: 25px;
}

.exchange__value-icon {
  color: #2959ce;
  font-weight: 700;
  line-height: normal;
}

/* LANGUAGE-TOGER */
.language-togler {
  display: flex;
  align-items: center;
  margin-right: 25px;
  border-radius: 39px;
  padding: 3px;
  background: #dce6ff;
}

.language-togler__value {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.language-togler__uz {
  color: var(--heading-color);
  background-color: #fff;
}

.language-togler__ru {
  color: #a6a6a6;
}

/* SITE-HEADER */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 35px;
}

.header__exchange {
  margin-right: auto;
}

.header__search {
  margin-right: 25px;
}

.header__search-input {
  width: 100%;
  max-width: 275px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  padding-right: 41px;
  border: 0;
  border-radius: 60px;
  background-color: #fff;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
}

/* SITENAV */
.sitenav-container {
  padding-top: 10px;
  padding-bottom: 40px;
}

.sitenav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.sitenav__link {
  display: inline-block;
  color: #7f7f7f;
  text-align: center;
  font-family: 'Rubik';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav__link:hover {
  color: var(--accent-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

/* SITE-ADVERTISING */
.advertising-container {
  padding-bottom: 50px;
}

.advertising__link {
  display: flex;
}

.advertising__img {
  width: 1200px;
  height: 128px;
  object-fit: contain;
}


/* LOCAL-NEWS */
.local-news {
  padding-bottom: 60px;
}

.local-news__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.local-news__item {
  width: calc(calc(100% - 20px) / 3);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background: #f6f6f6;
}

.local-news__item:nth-child(3n) {
  margin-right: 0;
}

.local-news__heading {
  margin: 0;
  margin-bottom: 10px;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

.local-news__text {
  margin: 0;
  margin-bottom: 15px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
}

.local-news__img {
  width: 360px;
  height: 165px;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 10px;
}

.local-news__footer {
  display: flex;
  align-items: center;
}

.local-news__footer-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}

.local-news__footer-text {
  color: #5E5F61;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* NOTIFICATION */
.notifocation {
  padding-bottom: 60px;
}

.notification__inner {
  width: 100%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 29px;
  padding-right: 71px;
  background-color: rgba(247, 139, 59, 0.5);
  background-image: url(../img/notification-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.notification__heading {
  margin: 0;
  width: 100%;
  max-width: 404px;
  margin-right: auto;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}


/* GLOBAL-NEWS */
.global-news {
  padding-bottom: 100px;
}

.global-news__container {
  display: flex;
  flex-wrap: wrap;
}

.global-news-left {
  width: 100%;
  max-width: 797px;
  margin-right: 10px;
}

.global-news__heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-news {
  margin-bottom: 17px;
}

.main-news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-news__item {
  display: flex;
  padding-top: 20px;
  padding-left: 17px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.main-news__item:not(:last-child) {
  margin-bottom: 10px;
}

.main-news__item-img {
  width: 210px;
  height: 165px;
  margin-right: 15px;
  border-radius: 10px;
  object-fit: contain;
}

.main-news__heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
}

.main-news__text {
  margin-top: 0;
  margin-bottom: 17px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.main-news__item-footer {
  display: flex;
  align-items: center;
}

.main-news__footer-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}

.main-news__footer-text {
  color: #5E5F61;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.global-news__button {
  width: 100%;
  cursor: pointer;
  padding: 17px;
  border: 0;
  border-radius: 10px;
  background-color: #eaeaea;
  color: var(--heading-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.global-news__right {
  width: 100%;
  max-width: 393px;
  margin-top: 49px;
}

.country-news__inner {
  border-radius: 15px;
  background-color: #f6f6f6;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.country-news__heading {
  margin-top: 0;
  margin-bottom: 25px;
  color: var(--heading-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.country-news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country-news__item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.country-news__title {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--heading-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.country-news__description {
  margin: 0;
  color: #5e5f61;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* SITE-FOOTER */
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--accent-color);
}

.footer__container {
  width: 100%;
  max-width: 998px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.footer__main {
  display: flex;
  align-items: flex-start;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cecece;
}

.footer__info {
  margin-right: auto;
}

.footer__logo {
  display: flex;
  color: #fff;
  font-family: 'Rubik';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 15px;
}

.footer__text {
  width: 100%;
  max-width: 229px;
  margin: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.footer__list {
  padding: 0;
  margin: 0;
  padding-top: 43px;
  list-style: none;
}

.footer__list:not(:last-child) {
  margin-right: 100px;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__list-link {
  display: inline-block;
  color: #fff;
  font-family: 'Rubik';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  align-items: center;
}

.footer__title {
  margin: 0;
  margin-right: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.socials {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 25px;
}

.socials__link {
  display: flex;
}

.socials__img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}


/* LIST PAGE STYLES */
.interesting-news {
  padding-bottom: 100px;
}

.interesting-news__container {
  display: flex;
}

.interesting-news__left {
  margin-right: 10px;
}

.interesting-news-heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



/* ARTICLE PAGE STYLES */
.news-inner {
  padding-top: 10px;
  padding-bottom: 60px;
}

.news-inner__container {
  display: flex;
  flex-wrap: wrap;
}

.news-inner__main {
  width: 100%;
  max-width: 797px;
  margin-right: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid #d1d1d1;
}

.news-inner__footer {
  margin-bottom: 30px;
}

.news-inner__heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.news-inner__img {
  width: 797px;
  height: 300px;
  object-fit: contain;
  border-radius: 13px;
  margin-bottom: 25px;
}

.news-inner__text {
  margin: 0;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align-last: left;
}

.news-inner__text:not(:last-child) {
  margin-bottom: 24px;
}

.country-news {
  width: 100%;
  max-width: 393px;
}


/* ADDETIONAL */
.additional {
  padding-bottom: 100px;
}

.addetional__heaidng {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.addetional__list {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
}

.addetional__item {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 18px;
  border-radius: 15px;
  background-color: #f6f6f6;
  width: calc(calc(100% - 20px) / 3);
}

.addetional__item:not(:last-child) {
  margin-right: 10px;
}

.addetioanl__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.addetional__description {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}



/* CONTACT PAGE */
.contact-registration {
  padding-top: 20px;
  padding-bottom: 100px;
}

.contact-registration__container {
  display: flex;
}

.contact-registration__form {
  width: 100%;
  max-width: 696px;
  margin-right: 10px;
}

.contact-registration__heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--heading-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__fields-wrapper {
  margin-bottom: 20px;
}

.form__fields {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form__field {
  width: 100%;
  margin-bottom: 10px;
}

.form__field-flex {
  width: calc(calc(100% - 10px) / 2);
  margin-bottom: 0;
}

.form__field-flex:not(:last-child) {
  margin-right: 10px;
}

.form__input {
  width: 100%;
  padding: 18px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background-color: #fff;
  color: var(--heading-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__input-textare {
  min-height: 180px;
  resize: vertical;
}

.form__button {
  align-self: flex-end;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contact-registration__info {
  width: 100%;
  max-width: 494px;
  margin-top: 49px;
}

.info__list {
  padding: 0;
  margin: 0;
  padding: 40px 25px;
  border-radius: 10px;
  background: #f6f6f6;
  list-style: none;
}

.info__item:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.info__title {
  margin-top: 0;
  margin-bottom: 7px;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.info__description {
  margin: 0;
  color: var(--heading-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* MODAL */
.modal {
  display: none;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal--open {
  display: flex;
}

.modal__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 169px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #fff;
}

.modal__heading {
  width: 100%;
  max-width: 512px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  color: var(--heading-color);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}