/* CUSTOM PROPS */
:root {
  --accent-color: #7297ef;
  --heading-color: #000;
  --text-color: #4a4b4c;
}

/* FONT-FACE */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}

/* SITE-BUTTONS */
.button {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  color: #fff;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  background-color: #7296ec;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--orange {
  border: 0;
  font-size: 20px;
  background-color: #f78b3b;
}


/* SITE-LOGO */
.logo {
  display: flex;
  padding: 9px 6px;
  border-radius: 7px;
  background-color: #fff;
}

.logo__img {
  width: 264px;
  height: 28px;
  object-fit: contain;
}

/* CURRENT EXCHANGE RATE */
.exchange {
  display: flex;
  align-items: center;
}

.exchange__value {
  color: #555;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.exchange__value:not(:last-child) {
  margin-right: 25px;
}

.exchange__value-icon {
  color: #2959ce;
  font-weight: 700;
  line-height: normal;
}

/* LANGUAGE-TOGER */
.language-togler {
  display: flex;
  align-items: center;
  margin-right: 25px;
  border-radius: 39px;
  padding: 3px;
  background: #dce6ff;
}

.language-togler__value {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.language-togler__uz {
  color: var(--heading-color);
  background-color: #fff;
}

.language-togler__ru {
  color: #a6a6a6;
}

/* SITE-HEADER */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 35px;
}

.header__exchange {
  margin-right: auto;
}

.header__search {
  margin-right: 25px;
}

.header__search-input {
  width: 100%;
  max-width: 275px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  padding-right: 41px;
  border: 0;
  border-radius: 60px;
  background-color: #fff;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
}

/* SITENAV */
.sitenav-container {
  padding-top: 10px;
  padding-bottom: 40px;
}

.sitenav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.sitenav__link {
  display: inline-block;
  color: #7f7f7f;
  text-align: center;
  font-family: 'Rubik';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav__link:hover {
  color: var(--accent-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

/* SITE-ADVERTISING */
.advertising-container {
  padding-bottom: 50px;
}

.advertising__link {
  display: flex;
}

.advertising__img {
  width: 1200px;
  height: 128px;
  object-fit: contain;
}


/* LOCAL-NEWS */
.local-news {
  padding-bottom: 60px;
}

.local-news__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.local-news__item {
  width: calc(calc(100% - 20px) / 3);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px 17px 15px;
  border-radius: 15px;
  background: #f6f6f6;
}

.local-news__item:nth-child(3n) {
  margin-right: 0;
}

.local-news__heading {
  margin: 0;
  margin-bottom: 10px;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

.local-news__text {
  margin: 0;
  margin-bottom: 15px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
}

.local-news__img {
  width: 360px;
  height: 165px;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 10px;
}

.local-news__footer {
  display: flex;
  align-items: center;
}

.local-news__footer-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}

.local-news__footer-text {
  color: #5E5F61;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* NOTIFICATION */
.notifocation {
  padding-bottom: 60px;
}

.notification__inner {
  width: 100%;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 29px;
  padding-right: 71px;
  background-color: rgba(247, 139, 59, 0.5);
  background-image: url(../img/notification-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.notification__heading {
  margin: 0;
  width: 100%;
  max-width: 404px;
  margin-right: auto;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}